<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0" width="100%">
    <tbody><tr>
        <td align="center" valign="top">


            <table width="640" cellspacing="0" cellpadding="0" bgcolor="#">
                <tbody><tr>
                    <td bgcolor="#0b00ac" width="640" valign="top">

                        <div>
                            <table width="640" border="0" cellspacing="0" cellpadding="20">
                                <tbody><tr>
                                    <td valign="top">
                                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                                            <tbody><tr>

                                                <td align="left" style="font-size:22px;color:#ffffff"><font face="'Roboto', Arial, sans-serif"><a href="https://sw03k.mjt.lu/lnk/AV8AAGPmYKcAAAAAAAAAAOT38zkAAYCs-e8AAAAAACUcXABnyGOD3u-qxHzTTeCm0glrLRJtkwAisOM/1/-1Sk3jb7oPTXHS1vG6Pd_Q/aHR0cDovL3d3dy5hcnJpZW5kb2NoaWxlLmNvbQ" style="color:#ffffff;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://sw03k.mjt.lu/lnk/AV8AAGPmYKcAAAAAAAAAAOT38zkAAYCs-e8AAAAAACUcXABnyGOD3u-qxHzTTeCm0glrLRJtkwAisOM/1/-1Sk3jb7oPTXHS1vG6Pd_Q/aHR0cDovL3d3dy5hcnJpZW5kb2NoaWxlLmNvbQ&amp;source=gmail&amp;ust=1743516556372000&amp;usg=AOvVaw3EPfrbVNiTInka8qVJ52Fg"><span>ATL Academy</span> </a></font></td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </div>

                    </td>
                </tr>
                </tbody></table>


            <table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#b2d6db" height="1">
                <tbody><tr>
                    <td width="20" bgcolor="#FFFFFF"></td>
                    <td align="center" height="1" style="line-height:0px;font-size:1px">&nbsp;</td>
                    <td width="20" bgcolor="#ffffff"></td>
                </tr>
                </tbody></table>
            <table width="640" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">
                <tbody><tr>
                    <td align="center" style="font-size:16px;color:#848484"><font face="'Roboto', Arial, sans-serif"><span style="color:#0b00ac;font-size:24px">
                      Verificar correo electrónico
                      </span><br>
                        <br>
                        <span style="font-size:16px"> <span th:text="${nombre}"></span>
                            Para activar tu cuenta y acceder a todos nuestros recursos educativos, por favor haz clic en el enlace de verificación que te hemos enviado por correo electrónico.
    Estamos aquí para apoyarte en tu viaje de aprendizaje en programación.
                          </span></font>
                    </td>
                </tr>
                </tbody></table>



            <table width="640" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">
                <tbody><tr>
                    <td align="center" style="font-size:16px;color:#777777">

                        <a href="https://sw03k.mjt.lu/lnk/AV8AAGPmYKcAAAAAAAAAAOT38zkAAYCs-e8AAAAAACUcXABnyGOD3u-qxHzTTeCm0glrLRJtkwAisOM/2/OVeDE1Qoc_DWiG9Hk_fR9w/aHR0cHM6Ly9hcGktYXRsLWFjYWRlbXkudmVyY2VsLmFwcC9hcGkvdXNlci85NDY2L3ZlcmlmeUVtYWlsP2tleT04Y2IxYjJkNjMzMTg4ZTA0M2VjMWE5NWZjOTA2ZDBmMzM1ODNhYjU3NDBmZDZlM2RjNjU2ZWQ0ZGRmMTY3MDhj" style="color:#0b00ac;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://sw03k.mjt.lu/lnk/AV8AAGPmYKcAAAAAAAAAAOT38zkAAYCs-e8AAAAAACUcXABnyGOD3u-qxHzTTeCm0glrLRJtkwAisOM/2/OVeDE1Qoc_DWiG9Hk_fR9w/aHR0cHM6Ly9hcGktYXRsLWFjYWRlbXkudmVyY2VsLmFwcC9hcGkvdXNlci85NDY2L3ZlcmlmeUVtYWlsP2tleT04Y2IxYjJkNjMzMTg4ZTA0M2VjMWE5NWZjOTA2ZDBmMzM1ODNhYjU3NDBmZDZlM2RjNjU2ZWQ0ZGRmMTY3MDhj&amp;source=gmail&amp;ust=1743516556372000&amp;usg=AOvVaw0PlJYn0YVRUsW7hcvVuuxF">
                            <table border="0" cellspacing="0" cellpadding="10" style="border:2px solid #ff8901">
                                <tbody><tr>
                                    <td align="center" style="color:#ff8901;font-size:16px">
                                        <font face="'Roboto', Arial, sans-serif">
                                            <a style="color:#ff8901;text-decoration:none">ACTIVAR CUENTA</a>
                                        </font></td>
                                </tr>
                                </tbody></table>
                        </a>
                    </td>
                </tr>
                </tbody></table><font color="#888888">
        </font><font color="#888888">
        </font><table width="640" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">
            <tbody><tr>
                <td align="center" style="font-size:16px;color:#777777"><font face="'Roboto', Arial, sans-serif"><span style="font-size:24px">¡Te damos algunos consejos!</span>
                    <br>
                    <span style="font-size:16px">
                          <ul>
                              <li align="left"><b>Explora nuestros cursos: </b>Descubre una variedad de cursos, incluido el Curso de Java Profesional impartido por Lucas, con una base sólida en Java.</li>
                              <li align="left"><b>Únete a nuestro Canal de Discord:</b> Conéctate con otros estudiantes y recibe apoyo de nuestros instructores.</li>



                          </ul>
                          </span>

                    <span style="font-size:16px">
                          ¡Gracias por unirte a nosotros! No dudes en ponerte en contacto si necesitas ayuda.


                          </span></font><font color="#888888">


                </font></td></tr></tbody></table><font color="#888888">
            <table width="640" border="0" cellspacing="0" cellpadding="20" bgcolor="#ff8901">
                <tbody><tr>
                    <td align="left" width="50%" style="font-size:14px;color:#ffffff"><font face="'Roboto', Arial, sans-serif">© <span>ATL Academy</span> </font></td>
                    <td align="right" width="50%" style="font-size:14px;color:#ffffff"><font face="'Roboto', Arial, sans-serif">Unsubscribe</font></td>
                </tr>
                </tbody></table>
            <table width="640" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td height="50"></td>
                </tr>
                </tbody></table>
        </font></td></tr></tbody></table>